// color config
$colors: (
  primary: #365ac2,
  secondary: #36a1c2,
  tertiary:  #4d4d4d,
  background: #0d1e52,
  light-gray: #c5c5c5,
  light: #fff
);

// fonts
$sizes: (
  sm: 16,
  md: 18,
  lg: 22,
  xl: 32
);

@mixin font-size($size) {
  font-size: map-get($sizes, $size) + px;
  line-height: calc($size * 1.5) + px;
}

@mixin color($color, $opacity: 1) {
  color: rgba(map-get($colors, $color), $opacity);
}

@mixin background($color, $opacity: 1) {
  background-color: rgba(map-get($colors, $color), $opacity);
}

@mixin transition($target: all) {
  transition: $target .3s ease;
}

@mixin border($color: dark, $stoke: 1) {
  border: ($stoke + px) solid map-get($colors, $color);
}

@mixin border-left($color: dark, $stoke: 1) {
  border-left: ($stoke + px) solid map-get($colors, $color);
}
